Chatbot.json
{
  "name": "Chatbot",
  "nodes": [
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        720,
        0
      ],
      "id": "d5801731-ad9b-4941-90f9-99c96239f1d2",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.data.message }}",
        "options": {
          "systemMessage": "You are a helpful assistant, respond to this question "
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        260,
        0
      ],
      "id": "239eb5b0-93ff-4fe5-b4a6-c3942f17f960",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -120,
        220
      ],
      "id": "88779ab7-426b-4f54-a9da-fa651ccd0845",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "Cgdzhd3NcQ9kghIh",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "bee9b99a4a234dc1ba5166d1f06515cc"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        200,
        260
      ],
      "id": "0675b445-c8a2-4ebd-a8a2-e9227257fb3a",
      "name": "Simple Memory",
      "notesInFlow": false
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "46079659-a7bc-4ec8-b9e5-23ee2ec74799",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -220,
        0
      ],
      "id": "8b74ea73-89c8-40c2-9bf8-1b80b0015747",
      "name": "Webhook",
      "webhookId": "46079659-a7bc-4ec8-b9e5-23ee2ec74799"
    }
  ],
  "pinData": {},
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "eb137341-dc8a-4701-932c-952792955df5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "88110cc168a6a9cf83ed749b36c9e7593a68028f840b4a25c412e4e6b38c45e5"
  },
  "id": "YkvrwIULUyc9KDmR",
  "tags": []
}